* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.cover-ui,
.circle-cover {
  transition: 250ms ease-in;
}

.cover-ui.toggle,
.circle-cover.toggle  {
  transform: translateY(100%);
}